@page
@model Ledigajobb
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    #more {
        display: none;
    }

    #more1 {
        display: none;
    }

    #more2 {
        display: none;
    }
</style>
<section class=" bg-info" id="ledigjobb">
    <div class="col-lg-12">
        <h2 style="color:lightpink; font-family:'Libre Baskerville', serif">Vi Söker </h2>
        <h3 style="font-family:'Libre Baskerville', serif">Välkommen till Wipster och till platsen där du hittar alla lediga positioner inom olika affärsområden..</h3>
        <br />
    </div>
    <div class="row text-center">
        <div class="col-lg-12 ">

            <h2>.NET Utvecklare</h2>
            <p>
                Vi söker nu APP- och/eller WEB-utvecklare som vill jobba med utveckling inom Android, iOS, Java eller C#, .NET,SQL internprojekt
                <span id="dots">...</span>
                <div id="more">
                    <ul>
                        <li>Kompetensekrav och personliga egenskaper</li>
                        <li> inom data eller ekvivalent utbildning</li>
                        <li> har minst 3 års dokumenterad erfarenhet inom mjukvaruutveckling</li>
                        <li> erfarenhet av Java, Python, C#, .NET, and SQL.</li>
                        <li> Flerårig arbetslivserfarenhet som Android eller iOS APP-utvecklare alternativt en passionerad hemma-utvecklare</li>
                        <li> Har du jobbat med ren Android/iOS-, .NET-, backend-utveckling eller inom inbyggda system och har ett intresse att bredda dig så är det meriterande.</li>
                        <li> Du har en visionär förmåga och är bra på att sätta tydliga mål.</li>
                    </ul>
                </div>
            </p>
            <button type="button" onclick="showmorelessFunction()" id="myBtn" style="background-color: #e76da5;color: #fff;">Read more</button>
        </div>

        <div class="col-lg-12">
            <h2>C# Utveckalre</h2>
            <p>
                Vi söker nu Juniora Ingenjörer som vill jobba med utveckling av Teknik för Självkörande fordon (Autonomous Drive)
                <span id="dots1">...</span>
                <div id="more1">
                    <ul>
                        <li> Mjukvaruutveckling av komplexa inbyggda system, Modellbaserad utveckling (Matlab/Simulink, UML, C/C++/Inbyggd Java)</li>
                        <li>Moln/Datautvinning (Cloud/Data mining), Realtidssystem, Realtidsprogrammering</li>
                        <li>Signalbehandling, Dataanalys</li>
                        <li>Sensor fusion, kamera / vision, ultraljud, radar, lidar</li>
                        <li>Kravställning av mjukvara med fokus på Autonomous Drive</li>
                        <li>Intresse för arbete med kommunikation / protokoll såsom CAN, LIN, MOST, Flexray och Ethernet.</li>
                        <li>Som person behöver du vara resultatorienterad, självgående, nätverkande, öppensinnad och ha en ödmjuk framtoning.</li>
                    </ul>
                </div>
            </p>
            <button type="button" onclick="showmorelessFunction1()" id="myBtn1" style="background-color: #e76da5;color: #fff;">Read more</button>
            <br />
        </div>
        <div class="col-lg-12">
            <h2>Scrum Master/Product Owner</h2>
            <p>
                Vi söker nu Agila ledare för utveckling av Inbyggda System som vill jobba med att leda produktutveckling i agil anda, som Scrum Master eller Product Owner
                <span id="dots2"></span>
                <div id="more2">
                    <ul>
                        <li> Flerårig teknisk utbildning på universitetsnivå inom mjukvaruutveckling eller el & elektronik, eller motsvarande erfarenhet från arbetslivet.</li>
                        <li> Agil arbetsmetodik såsom Scrum, SAFe, Lean, KANBAN etc.</li>
                        <li>Produktutveckling / Mjukvaruutveckling</li>
                        <li>Scrum Master,Product Owner,Elteknisk projektledning</li>
                        <li>Projektkoodinering inom el & elektronik, Release Management</li>
                        <li>Configuration management,Kvalitetsledning inom mjukvara</li>
                        <li>Att jobba lösningsorienterat med produkt- / projektleveranser och kunden i fokus är givet för dig.</li>
                    </ul>
                </div>
            </p>
            <button type="button" onclick="showmorelessFunction2()" id="myBtn2" style="background-color: #e76da5;color: #fff;">Read more</button>
            <br /> <br /><br />
        </div>
        <div class="col-lg-12">
            <h2>Scrum Master/Product Owner</h2>
            <p>
                Vi söker nu Agila ledare för utveckling av Inbyggda System som vill jobba med att leda produktutveckling i agil anda, som Scrum Master eller Product Owner
                <span id="dots2"></span>
                <div id="more2">
                    <ul>
                        <li> Flerårig teknisk utbildning på universitetsnivå inom mjukvaruutveckling eller el & elektronik, eller motsvarande erfarenhet från arbetslivet.</li>
                        <li> Agil arbetsmetodik såsom Scrum, SAFe, Lean, KANBAN etc.</li>
                        <li>Produktutveckling / Mjukvaruutveckling</li>
                        <li>Scrum Master,Product Owner,Elteknisk projektledning</li>
                        <li>Projektkoodinering inom el & elektronik, Release Management</li>
                        <li>Configuration management,Kvalitetsledning inom mjukvara</li>
                        <li>Att jobba lösningsorienterat med produkt- / projektleveranser och kunden i fokus är givet för dig.</li>
                    </ul>
                </div>
            </p>
            <button type="button" onclick="showmorelessFunction2()" id="myBtn2" style="background-color: #e76da5;color: #fff;">Read more</button>
            <br /> <br /><br />
        </div>
    </div>

</section>